.heading{
    color: aqua;
text-align: center;
background-color: hotpink;
font-size: 30px;
}
body{
    width: 100%;
    background-image: url(gifts1.jpg);
}
.heading1{
    color: white;
    font-size: 30px;
    margin-right: 50%;
    margin-bottom: 40px;
    background-image: url(gifts2.png);
    padding-top: 20%;
    background-repeat: no-repeat;


}
.heading2{
    color: white;
    font-size: 30px;
    margin-right: 50%;
    margin-bottom: 40px;
    background-image: url(gifts5.webp);
    padding-top: 20%;
    background-repeat: no-repeat;



}
.heading3{
    color: white;
    font-size: 30px;
    margin-right: 50%;
    margin-bottom: 40px;
    background-image: url(gifts3.png);
    padding-top: 20%;
    background-repeat: no-repeat;
}

.heading4{
    color: white;
    font-size: 30px;
    margin-right: 50%;
    margin-bottom: 40px;
    background-image: url(gifts4.jpg);
    padding-top: 20%;
    background-repeat: no-repeat;
}

.heading5{
    color: white;
    font-size: 30px;
    margin-right: 50%;
    margin-bottom: 40px;
    background-image: url(gifts6.webp);
    padding-top: 20%;
    background-repeat: no-repeat;
}
